<!-- <div class="row">
			<form action="task" method="POST">
				<input name='task_idx' class='taskinput' type="text" style="display: none" value="0">
				<% if(tasks != null) for(var i=0; i<tasks.length; i++) {%>
					<button type="submit" class="btn btn-primary btn-lg btn-block task" data-id="<%= tasks[i].id %>"><%=tasks[i].task_name %></button>
				<%} %>
			</form>
		</div> -->